<p>
  <input type="checkbox" name="isDone" {{#if todo.isDone }} checked {{/if}}>
  {{ todo.name }}
  </p>
<a href="/todos/{{ todo._id }}/edit">edit</a><!-- 加入這行 -->
<a href="/">back</a>
<form action="/todos/{{ todo._id }}?_method=DELETE" method="POST" style="display: inline;">
  <button type="submit">delete</button>
</form>